/* Estilo a las Etiquetas */
html {
  height: 100%;
}

body {
  font-family: fuente;
  font-size: 16px;
  text-shadow: #151515 2px 2px;
  min-height: 100%;
}

h1 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  color: #e0d59e;
}

p {
  color: #eaeaea;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Estilo a los Contenedores */
.cuadricula {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 400px;
  grid-template-areas:
    "sobre_mi"
    "habilidades"
    "footer";
  text-align: center;
}

.sobre_mi {
  grid-area: sobre_mi;
}

.sobre_mi img {
  border: 5px solid #409cbf;
  border-radius: 10px;
}

.habilidades {
  grid-area: habilidades;
  padding-top: 32px;
}

.footer {
  grid-area: footer;
  background-color: #286982;
  border-top: 5px solid #409cbf;
  margin-top: 32px;
}

.caja_flexible {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 16px;
}

.contenedor {
  position: relative;
  flex-basis: 100px;
  flex-grow: 1;
  background-color: #286982;
  border-bottom: 5px solid #409cbf;
  border-radius: 10px;
}

.contenedor_2 {
  position: relative;
  flex-basis: 100px;
  flex-grow: 1;
  border-radius: 10px;
}

.fondo {
  background-image: url("../img/fondo.png");
  background-color: #2b4a80;
  min-height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/* Las fuentes */
@font-face {
  font-family: fuente;
  src: url("../fuentes/ComicNeue-Regular.ttf");
}

/* Los Media Query */
@media (min-width: 500px) {
  .cuadricula {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 444px;
    grid-template-areas:
      "sobre_mi habilidades"
      "sobre_mi habilidades"
      "footer footer";
  }

  .sobre_mi {
    align-self: center;
  }

  .habilidades {
    padding-top: 0px;
  }
}